* {
    margin: 0;
    padding: 0;
}

body {
    background: #171836;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.80);
}

section {
    display: flex;
    gap: 11px;
    justify-content: center;
}

.area {
    background-image: url('../img/student.png');
    background-size: contain;
    background-repeat: no-repeat;

    flex-basis: 340px;
    flex-grow: 1;
    min-height: 700px;
    max-height: 750px;

    position: relative;
}

.content {
    flex-basis: 340px;
    flex-grow: 1;
}

.more {
    border-radius: 20px;
    border: 2px solid rgba(63, 69, 141, 0.63);
    background: linear-gradient(180deg, rgba(76, 94, 157, 0.80) -32.08%, rgba(23, 24, 54, 0.80) 127.36%);

    padding: 20px;

    display: flex;
    gap: 16px;

    position: absolute;
    bottom: 44px;
    right: 20px;
}

.people img {
    margin-left: -16px;
    z-index: 100;
    position: relative;
}

.people img:hover {
    z-index: 2000;
}

.lamp {
    position: absolute;
    top: 150px;
    left: 5vw;

    width: 10vw;
    max-width: 104px;
}

.book {
    position: absolute;
    top: 42px;
    right: 10vw;

    width: 10vw;
    max-width: 104px;
}

